@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=VT323&display=swap');

body {
    background: url(../images/background-picture.jpg);
    height: 600px;

}

h1 {
    font-family: 'VT323', monospace;
    color: #49ff15;
    font-size: 350%;
}

#main-title {

    margin-top: 0;
    font-size: 600%;
}

h2,
p {
    margin-top: 10px;
    font-family: 'VT323', monospace;
    color: #49ff15;
    font-size: 200%;
}

li {
    color: #49ff15;
    font-size: 150%;
    font-family: 'VT323', monospace;
    /* color: #15202b; */
    /* border: 3px solid rgb(250, 235, 215); */
    padding: 10px;
}

a {
    color: #49ff15;
    font-size: 250%;
    font-family: 'VT323', monospace;
    text-decoration: none;
    padding: 10px;

}

/* entrance page */

#enter-the-game {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
}

#rules {
    display: flex;
    flex-direction: column;
    border: 20px solid black;
    background-color: rgba(46, 44, 42, 1);
    border-radius: 10px;
}
#rules-title {
    display: flex;
    justify-content: center;
}

/* Game page */

#game-main-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.answers {
    display: flex;
    flex-direction: column;
}

#return-btn {
    display: flex;
    justify-content: center;
}



#right_answer_table {
    font-size: 200%;
    margin: 0;
}

#wrong_answer_table {
    font-size: 200%;
    margin: 0;
    color: red;
}

#score-table {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    font-size: 150%;
    color: #49ff15;
    font-family: 'VT323', monospace;
    background-color: black;
    padding: 10px;
}


.question-box {
    border: 20px solid black;
    background-color: rgba(46, 44, 42, 1);
    padding: 20px;
    border-radius: 10px;
    width: 60%;
}

.answer-box:hover {
    background-color: #49ff15;
    color: black;
}

::marker {
    color: #49ff15;
}

#game-over {
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

@media screen and (max-width: 900px) {

    #main-title {

        font-size: 250%;
    }

    h1 {

        font-size: 200%;
    }

    h2 {
        font-size: 150%;
    }

    li {
        font-size: 120%;
    }

    #right_answer_table {
        float: left;
        font-size: 1.8rem;
        margin: 0;
    }

    #wrong_answer_table {
        font-size: 1.8rem;
        float: left;
        margin: 0;
        color: red;
    }


}

@media screen and (max-width: 500px) {

    #score-table {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 20px;
    }

}